<div class="container">
  <img
    src="https://images.unsplash.com/photo-1488590528505-98d2b5aba04b?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="main post"
  />
  <span><p>28/12/2023</p></span>

  <h2>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque
    necessitatibus
  </h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit tempore,
    voluptas ullam sint consectetur quam ad.
  </p>
</div>
